<!-- TO BE APPROVED ORDER LIST: -->
<div class="wrapper">
  <h1>To be recieved order:</h1>
  <div class="order-container" id="approve-list">
    <% for (var i = 0; i < tobeApprovedOrder.length; i++) { %>
    <div class="order-wrapper recieved-product-<%=tobeApprovedOrder[i].id%>">
      <div class="order-info">
        <p><b>ORDER ID:</b><%=tobeApprovedOrder[i].id%></p>
      </div>

      <div class="order-info">
        <p><b>Name:</b><%=tobeApprovedOrder[i].name%></p>
      </div>

      <div class="order-info">
        <p><b>Phone:</b><%=tobeApprovedOrder[i].phone%></p>
      </div>

      <div class="order-info">
        <p><b>Shipping Address:</b> <%=tobeApprovedOrder[i].address%></p>
      </div>

      <div class="order-info">
        <p><b>Mode of Payment:</b>CASH</p>
      </div>

      <button
        class="recieved"
        id="<%=tobeApprovedOrder[i].id%>"
        wareHouseNumber="<%=wareHouseNumber%>">
        Recieved
      </button>
    </div>
    <% } %>
  </div>
</div>

<!-- TO BE FORWARDED ORDER LIST: -->
<div class="wrapper">
  <h1>Order Request Dashboard:</h1>
  <div class="order-container" id="forward-list">
    <% for (var i = 0; i < tobeForwardedOrder.length; i++) { %>
    <div class="order-wrapper forward-order-<%=tobeForwardedOrder[i].id%>">
      <div class="order-info">
        <p><b>ORDER ID:</b><%=tobeForwardedOrder[i].id%></p>
      </div>

      <div class="order-info">
        <p><b>Name:</b><%=tobeForwardedOrder[i].name%></p>
      </div>

      <div class="order-info">
        <p><b>Phone:</b><%=tobeForwardedOrder[i].phone%></p>
      </div>

      <div class="order-info">
        <p><b>Shipping Address:</b> <%=tobeForwardedOrder[i].address%></p>
      </div>

      <div class="order-info">
        <p><b>Mode of Payment:</b>CASH</p>
      </div>

      <div id="action-wrapper">
        <p for="order-request-<%=tobeForwardedOrder[i].id%>">
          <b> Status: </b>
        </p>

        <select
          name="order-request"
          id="order-info-<%=tobeForwardedOrder[i].id%>">
          <!--  -->
          <% if (wareHouseNumber === 1) { %>
          <option value="4">Forward Order to Warehouse 2.</option>
          <option value="6">Forward Order to Final Delivery Station.</option>
          <!--  -->
          <% } else { %>
          <option value="6">Forward Order to Final Delivery Station.</option>
          <!--  -->
          <% } %>
        </select>
      </div>

      <button class="forward" id="<%=tobeForwardedOrder[i].id%>">
        Forward
      </button>
    </div>
    <% } %>
  </div>
</div>
